<style>
  section, section a {
    color: #fff;
  }
  strong {
    font-weight: bolder;
  }
</style>

<section id="login-area" class="centered">
  <div id="fields-area">
    <h2 style="color: #fff; margin: 0; border-bottom: 3px solid #FEA841;">► Detalhe do convidado</h2>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nome:</strong>
      <%= @guest.name %>
    </p>
    <p>
      <strong>Número de acompanhantes:</strong>
      <%= @guest.accompanying_number %>
    </p>
    <p>
      <%= check_box_tag('Confirmado', @guest.is_confirmed, @guest.is_confirmed, :disabled => true) %>
      <strong style="position: absolute;">Confirmado</strong>
    </p>

    <div class="right" style="margin-bottom: 20px;">
      <%= link_to 'Editar', edit_guests_path(@guest) %> |
      <%= link_to 'Voltar', guests_index_path %>
    </div>
    <br />
  </div>
</section>
