<ul id="main-menu" class="right">
  <li><%= link_to "<span class='icon-home'></span>".html_safe, root_path %></li>
  <li><%= link_to 'Nossa história', root_path %></li>
  <li><%= link_to 'Álbum', root_path %></li>
  <li><%= link_to 'Lista de presentes', lista_presentes_path %></li>
  <li><%= link_to 'Pessoas especiais', root_path %></li>
  <li><%= link_to 'Confirmar presença', root_path %></li>
  <li><%= link_to 'Cerimônia', root_path %></li>
  <li><%= link_to 'Fornecedores', fornecedores_path %></li>
</ul>